@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:ital@1&family=Roboto&display=swap');

#home-background{
    background-image: url("home-background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
}

#introduction{
    font-family: 'Libre Baskerville', serif;
    margin: 130px 10px 0px 10px;
    height: 25vh;
    text-align: center;
}

#introduction-span-one{
    font-size: 1.6em;
    background-color: white;
}

#introduction-span-two{
    background-color: white;
}

#introduction-two{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    display: flex;
}

#viewAllListings{
    font-size: 1em;
    margin-bottom: 20px;
    height: 15vh;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: #fa9600e5;
    padding: 10px;    
}

#floristPage{
    font-size: 1em;
    height: 15vh;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    color: white;
    background-color: #eb6324ef;
    padding: 15px;
}

@media screen and (min-width: 576px){

    #viewAllListings{
        height: 30vh;
        font-size: 1.2em;
        padding: 20px;
    }
    
    #floristPage{
        height: 30vh;
        font-size: 1.2em;
        padding: 20px;
    }
}

@media screen and (min-width: 768px){
    #viewAllListings{
        height: 20vh;
    }
    
    #floristPage{
        height: 20vh;
    }
}
@media screen and (min-width: 1024px){
    #introduction{
        height: 35vh;
    }

    #introduction-span-one{
        font-size: 2em;
    }
    
    #introduction-span-two{
        font-size: 1.3em;
    }

    #viewAllListings{
        height: 15vh;
    }
    
    #floristPage{
        height: 15vh;
    }
}

@media screen and (min-width: 1440px){
    #viewAllListings{
        font-size: 1.1em;
    }
    
    #floristPage{
        font-size: 1.1em;
    }
}