@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:ital@1&family=Roboto&display=swap');

#home-background{
    background-image: url("home-background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
}

#introduction{
    font-family: 'Libre Baskerville', serif;
    margin: 20px 10px 100px 10px;
    height: 30vh;
    /* border: 2px solid black; */
    /* border-radius: 50px; */
    text-align: center;
    /* background-color: rgba(247, 232, 226, 0.822); */
}

#introduction-two{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    display: flex;
}

#viewAllListings{
    font-size: 1em;
    margin-bottom: 20px;
    height: 10vh;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(247, 232, 226, 0.822);    
}

#floristPage{
    font-size: 1em;
    height: 10vh;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(247, 232, 226, 0.822);     
}