@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:ital@1&family=Roboto&display=swap');

#listing-background{
    background-image: url("listing-background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    z-index: -1;
    width: 100vw;
}

#emptySearchResultsDiv{
    text-align: center;
    height: 100vh;
}

#emptySearchResultsAlternative{
    font-size: 1.2em;
    color: red;
    background-color: white;
}

#emptySearchResultsAlternative:hover{
    color: black;
    background-color: #FA9500;
}

.card-listing{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    width: 16rem;
    height: 65vh;
}

.card-listing:hover{
    background-color: rgba(245, 240, 240, 0.61);
}

.card-image{
    padding: 20px;
    height: 320px;
}

.card-body{
    padding: 0px 16px 16px 16px !important;
}

.card-title{
    font-weight: bold;
}

#modal-image{
    border-radius: 30px;
    width: 100%;
    height: auto;
}

#searchbox{
    position:absolute;
    z-index: 1;
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
}

.search-div{
    margin-bottom: 10px;
}

.search-label{
    font-weight: 700;
}

#search-btn{
    margin-bottom: 10px;
    color: white;
    background-color: #EB6424;
}