.listing-background{
    background-image: url("listing-background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    z-index: -1;
}

.card-listing{
    margin: 10px;
    width: 18rem;
    height: 90vh;
}

.card-listing:hover{
    background-color: rgba(245, 240, 240, 0.61);
}

.card-image{
    padding: 20px;
    height: 320px;
}

#searchbox{
    position:absolute;
    z-index: 1;
    background-color: white;
    width: 100vw;
}