#login-background{
    background-image: url("login-background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    margin-top: 5px;
}

@media screen and (min-width: 576px){
    #login-background{
        margin-top: 0px;
    }
}