.listing-background{
    background-image: url("listing-background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}

.card{
    width: 50vw;
    margin: 10px;

}