@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap');

body{
    padding-top: 70px;
}

#logo, .navbar-brand, .offcanvas-title, #navbar-expand-logo{
    width: 60vw;
    height: 60px;
    background-image: url("logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#navbar-expand{
    display: none;
}

.offcanvas{
    transform: none !important;
    visibility: visible !important;
}

#collapsed-navbar{
    display: block;
    background-color: white;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    color: black !important;
}

@media screen and (min-width: 576px){
    body{
        padding-top: 40px;
    }
    
    #navbar-expand-logo{
        width: 35vw;
        background-position:left;
        height: 42px;
    }

    #collapsed-navbar{
        display: none;
    }

    #navbar-expand{
        background-color: white;
        width: 100vw;
        display: block;
    }
}

@media screen and (min-width: 768px){
    #navbar-expand-logo{
        width: 50vw;
    }
}

@media screen and (min-width: 992px){
    #navbar-expand-logo{
        width: 60vw;
    }
}

@media screen and (min-width: 1200px){
    #navbar-expand-logo{
        width: 70vw;
    }
}

@media screen and (min-width: 1920px){
    #navbar-expand-logo{
        width: 80vw;
    }
}